slstatus &
nitrogen --restore &
xset s off
xset -dpms
xset s noblank
export EDITOR="nvim"
export TERMINAL="st"
export BROWSER="firefox"
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
picom -b --experimental-backends
xrdb ~/.Xresources
export ZDOTDIR=$HOME/.config/zsh
